/* ====== General =================*/
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

/* ====== Header and Nav Part =================*/
header {
    height: 50px;
    -webkit-box-shadow: 0px 9px 23px 0px rgba(34, 60, 80, 0.14);
    -moz-box-shadow: 0px 9px 23px 0px rgba(34, 60, 80, 0.14);
    box-shadow: 0px 9px 23px 0px rgba(34, 60, 80, 0.14);

}

.header_inner {
    display: flex;
    justify-content: space-between;
    padding-top: 0.8em;
}

.header_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #4F4F4F;
}

.fa-shopping-basket {
    padding-left: 1.4em;
}

.fas {
    color: #53889D;

}

.fas:hover {
    color: #053244;
    transition: 0.5s;
}

/* ====== Popular Lists Part =================*/
.container {
    margin-left: 1.5em;
}

.part_headers {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.25em;
    line-height: 27px;
    text-align: left;
    margin-top: 2.2em;
    margin-bottom: 1em;
}

.welcome_heading {
    width: 70vw;
    margin-left: 1rem;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
}

.welcome_small_text {
    width: 87vw;
    margin-left: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
}


.popular_lists_cards {
    width: 500px;
}

.lists_card_one {
    position: relative;
    width: 216px;
}

.card_main_img {
    position: relative;
    margin-left: 0px;
    background-color: #D96F6E;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card_inner_img {
    position: absolute;
    top: 20%;
    left: 7%;

}

.list_card_text {
    position: absolute;
    top: 55%;
    left: 7%;
    color: #ffffff;
}

.card_small_text {
    margin-bottom: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.card_big_text {
    margin-top: -3%;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}

.lists_card_two {
    position: relative;
    width: 216px;
    height: 128px;
    display: flex;
    margin-top: -26%;
    margin-left: 47%;
    background: linear-gradient(270deg, rgb(206, 222, 228), rgb(205, 241, 242));
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card_two_text {
    font-family: 'Playfair Display', serif;
    position: absolute;
    margin-top: -10px;
    margin-left: 30%;
    text-align: center;
}

.list_card_number {
    font-size: 2.6em;
    margin-top: 0px;
    margin-bottom: 0px;
    background: #D96F6E;
    background: -webkit-linear-gradient(to right, #D96F6E 0%, #F2D05C 100%);
    background: -moz-linear-gradient(to right, #D96F6E 0%, #F2D05C 100%);
    background: linear-gradient(to right, #D96F6E 0%, #F2D05C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list_number_text {
    margin-top: 0px;
    margin-bottom: -15px;
    color: #D96F6E;
    font-size: 20px;
}

/* ====== Top 10 Authors Part =================*/
.authors_card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 5%;
}

.author_name {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400px;
    text-align: center;
}

.author_image {
    display: block;
    margin: auto;
    padding-bottom: 0.5vh;
}

@media screen and(max-width: 425px) {
    .authors_card {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 5%;
    }
}

/* ====== Latest Arrivals Part =================*/
.latest_arrivals {
    width: 100vw;
    height: 300px;
    overflow: auto;
}

.scroller {
    float: left;
    margin-right: -999em;
}

.scroller div {
    float: left;
    margin-right: 16px;
    width: 143px;
    height: 216px;
}

@media screen and (max-width: 425px) {
    .scroller div {
        margin-right: 4vw;
    }
}

.scroller a {
    text-decoration: none;
}

.book_name {
    margin: 8px 0 0 0;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
}

.book_name_a {
    color: rgba(0, 0, 0, 1);
}

.book_author {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    color: rgba(79, 79, 79, 1);
}

/* ====== Popular Genres =================*/
.popular_genres {
    display: grid;
    grid-template-columns: repeat(6, 76px);
    grid-template-rows: repeat(2, 117px);
    gap: 8px;
    text-align: center;
}

.genres_box {
    display: grid;
    grid-template-columns: 76px;
    grid-template-rows: 76px 41px;
    height: 76px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.1);
    border-radius: 8px;

}

.genres_name {
    margin-top: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    text-align: center;
    color: rgba(79, 79, 79, 1);
}

.genres_icon {
    display: block;
    margin: auto;
}

@media screen and (max-width: 425px) and (min-width: 376px) {
    .popular_genres {
        display: grid;
        grid-template-columns: repeat(4, 76px);
        grid-template-rows: repeat(3, 117px);
        margin-left: 3vw;
    }
}

@media screen and (max-width: 375px) {
    .popular_genres {
        display: grid;
        grid-template-columns: repeat(4, 76px);
        grid-template-rows: repeat(3, 117px);
    }
}

@media screen and (max-width: 360px) {
    .popular_genres {
        display: grid;
        grid-template-columns: repeat(4, 20vw);
        grid-template-rows: repeat(3, 30vw);
        gap: 2%;
        text-align: center;
    }

    .genres_box {
        display: grid;
        grid-template-columns: 20vw;
        grid-template-rows: 20vw 10vw;
        height: 10vh;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.1);
        border-radius: 8px;
    }

    .genres_name {
        margin-top: 0.5vh;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 16.8px;
        text-align: center;
        color: rgba(79, 79, 79, 1);
    }

    .genres_icon {
        margin: auto;
    }
}

/* ====== Footer =================*/
footer {
    height: 15%;
    margin-top: 4.5vh;
    -webkit-box-shadow: 0px 9px 23px 0px rgba(34, 60, 80, 0.14);
    -moz-box-shadow: 0px 9px 23px 0px rgba(34, 60, 80, 0.14);
    box-shadow: 0px 9px 23px 0px rgba(34, 60, 80, 0.14);
}

.nav_footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    margin-left: 6%;
    padding-top: 1vh;
}

.footer_img {
    text-align: center;
    padding-top: 5%;
}

.footer_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.65em;
    color: #53889D;
}

.profile_a {
    color: #53889D;
}