/* ====== Header and Nav Part =================*/
header {
    height: 50px;
    -webkit-box-shadow: 0px 9px 23px 0px rgba(34, 60, 80, 0.14);
    -moz-box-shadow: 0px 9px 23px 0px rgba(34, 60, 80, 0.14);
    box-shadow: 0px 9px 23px 0px rgba(34, 60, 80, 0.14);

}

.header_inner {
    display: flex;
    justify-content: space-between;
}

.fas {
    color: #53889D;
    padding-left: 20px;
}

.fas:hover {
    color: #053244;
    transition: 0.5s;
}

/*===== Conversations with Friends ===== */
.img_conversations {
    display: block;
    margin: auto;
}

.h1_conversations {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 7vw;
    line-height: 10vw;
    text-align: center;
    color: #000000;
    margin-bottom: 0.5vw;
}

.p1_conversations {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2.6vh;
    line-height: 6vw;
    text-align: center;
    color: #000000;
    margin-top: 0.5vh;
    margin-bottom: 0.6vh;
}

.p2_conversations {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2vh;
    line-height: 140%;
    text-align: center;
    color: #828282;
    margin-bottom: 0.8vh;
}

.price {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 4vh;
    line-height: 6vh;
    text-align: center;
    color: #000000;
}

/* ========= Genres ========= */
.genres {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 3vh;
    line-height: 2vh;
    color: #4F4F4F;
    text-align: center;
    margin-bottom: 2vh;
}

.button_contemporary,
.button_general_fiction {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8vh;
    line-height: 15px;
    color: #FFFFFF;
    border-radius: 12px;
    border-style: solid;
    border-color: #FFFFFF;
    width: 30vw;
    height: 4.3vh;
}

.btn_orange {
    background: linear-gradient(to right, #ffc577, #f39474);
    margin-left: 20vw;
}

.btn_blue {
    background: linear-gradient(to right, #53889D, #b3b9c5);
}

/* ====== Share this book Part =================*/
.social_icons {
    text-align: center;
    margin-top: 5%;

}

.social_icons_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #4F4F4F;
}

a {
    margin-top: 10px;
}

.fab {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-left: 3%;
    padding-top: 7px;
    text-align: center;
    line-height: 40px;
    background: #53889D;
    font-size: 22px;
    border-radius: 50%;
    color: #fff;
}

.fab:hover {
    background: #195168;
    transition: 0.5s;
}

/* ====== Similar Publications =================*/
.part_headers {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 16px;
}

.similar_publications {
    width: 100vw;
    height: 305px;
    overflow: auto;
}

@media (max-width: 414px) {
    .scroller {
        float: left;
        /*makes it shrink-wrap all the floating divs inside*/
        margin-right: -999em;
        /* allows the width expanding beyond parent edge to give adjacent space */
    }
}

.scroller div {
    float: left;
    margin: 0 16px 0 0;
    width: 143px;
    height: 216px;
}

.book_name {
    margin: 4px 0 0;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
}

.book_author {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16.8px;
    color: rgba(79, 79, 79, 1);
}

.book_price {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: rgba(217, 111, 110, 1);
}