/* ========= Genres ========= */
.genres {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 3vh;
    line-height: 2vh;
    color: #4F4F4F;
    text-align: center;
    margin-bottom: 2vh;
}

.button_contemporary,
.button_general_fiction {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8vh;
    line-height: 15px;
    color: #FFFFFF;
    border-radius: 12px;
    border-style: solid;
    border-color: #FFFFFF;
    width: 30vw;
    height: 4.3vh;
}

.btn_orange {
    background: linear-gradient(to right, #ffc577, #f39474);
    margin-left: 20vw;
}

.btn_blue {
    background: linear-gradient(to right, #53889D, #b3b9c5);
}

/* ====== Share this book Part =================*/
.social_icons {
    text-align: center;
    margin-top: 5%;

}

.social_icons_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #4F4F4F;
}

a {
    margin-top: 10px;
}

.fab {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-left: 3%;
    padding-top: 7px;
    text-align: center;
    line-height: 40px;
    background: #53889D;
    font-size: 22px;
    border-radius: 50%;
    color: #fff;
}

.fab:hover {
    background: #195168;
    transition: 0.5s;
}