/* ====== General =================*/
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

/* ====== Header and Nav Part =================*/
header {
    height: 50px;
    -webkit-box-shadow: 0px 9px 23px 0px rgba(34, 60, 80, 0.14);
    -moz-box-shadow: 0px 9px 23px 0px rgba(34, 60, 80, 0.14);
    box-shadow: 0px 9px 23px 0px rgba(34, 60, 80, 0.14);

}

.header_inner {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
}

.header_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #4F4F4F;
}

.fa-shopping-basket {
    padding-left: 20px;
}

.fas {
    color: #53889D;

}

.fas:hover {
    color: #053244;
    transition: 0.5s;
}

/* ====== Popular Lists Part =================*/
.container {
    margin-left: 24px;
}

.part_headers {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 16px;
}

.popular_lists_cards {
    width: 500px;
}

.lists_card_one {
    position: relative;
    width: 216px;
}

.card_main_img {
    position: relative;
    margin-left: 0px;
    background-color: #D96F6E;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card_inner_img {
    position: absolute;
    top: 20%;
    left: 7%;

}

.list_card_text {
    position: absolute;
    top: 55%;
    left: 7%;
    color: #ffffff;
}

.card_small_text {
    margin-bottom: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.card_big_text {
    margin-top: -3%;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}

.lists_card_two {
    position: relative;
    width: 216px;
    height: 128px;
    display: flex;
    margin-top: -26%;
    margin-left: 47%;
    background: linear-gradient(270deg, rgb(206, 222, 228), rgb(205, 241, 242));
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.card_two_text {
    font-family: 'Playfair Display', serif;
    position: absolute;
    margin-top: -10px;
    margin-left: 30%;
    text-align: center;
}

.list_card_number {
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: #D96F6E;
    background: -webkit-linear-gradient(to right, #D96F6E 0%, #F2D05C 100%);
    background: -moz-linear-gradient(to right, #D96F6E 0%, #F2D05C 100%);
    background: linear-gradient(to right, #D96F6E 0%, #F2D05C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list_number_text {
    margin-top: 0px;
    margin-bottom: -15px;
    color: #D96F6E;
    font-size: 20px;
}

/* ====== Top 10 Authors Part =================*/
.authors_card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 5%;
}

.author_name {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400px;
    text-align: center;
}

/* ====== Latest Arrivals Part =================*/
.latest_arrivals {
    width: 100vw;
    height: 300px;
    overflow: auto;
}

@media (max-width: 414px) {
    .scroller {
        float: left;
        /*makes it shrink-wrap all the floating divs inside*/
        margin-right: -999em;
        /* allows the width expanding beyond parent edge to give adjacent space */
    }
}

.scroller div {
    float: left;
    margin: 0 16px 0 0;
    width: 143px;
    height: 216px;
}

.scroller a {
    text-decoration: none;
}

.book_name {
    margin: 8px 0;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: rgba(0, 0, 0, 1);
}

.book_author {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    color: rgba(79, 79, 79, 1);
}

/* ====== Popular Genres =================*/
.popular_genres {
    display: grid;
    grid-template-columns: repeat(4, 76px);
    grid-template-rows: repeat(3, 117px);
    gap: 8px;
}

.genres_box {
    display: grid;
    grid-template-columns: 76px;
    grid-template-rows: 76px 41px;
    height: 76px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.1);
    border-radius: 8px;

}

.genres_name {
    margin-top: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16.8px;
    text-align: center;
    color: rgba(79, 79, 79, 1);
}

.genres_icon {
    margin: auto;
}

/* ====== Footer =================*/
footer {
    height: 15%;
    -webkit-box-shadow: 0px 9px 23px 0px rgba(34, 60, 80, 0.14);
    -moz-box-shadow: 0px 9px 23px 0px rgba(34, 60, 80, 0.14);
    box-shadow: 0px 9px 23px 0px rgba(34, 60, 80, 0.14);

}

.nav_footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    margin-left: 5%;


}

.footer_img {
    text-align: center;
    padding-top: 5%;

}

.footer_text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #53889D;
}